* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
}

.color-orange {
  color: #fd6e0a;
}

.btn {
  font-size: 20px;
  font-weight: bold;
  background-color: #fd6e0a;
  color: white;
  padding: 19px 36px;
  border-radius: 5px;
  border: none;
}

/* main style */
header {
  background-color: #fff8f3;
  padding-top: 50px;
}

nav {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 51px;
}

nav .menu a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: normal;
}
